CONN_MAX_AGE=60

# SMTP
EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_USER=your_name@10clouds.com
EMAIL_HOST_PASSWORD=your_password
EMAIL_PORT=587
EMAIL_USE_TLS=True

# Domain name, used by caddy
DOMAIN_NAME=none.localhost:8080

# General settings
DJANGO_READ_DOT_ENV_FILE=False
DJANGO_ADMIN_URL=
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=@<c`0@kmx:4x?WnEi6IA$TdE8U+i)SLy]DnBOE.U?C,(2<r5f4
DJANGO_ALLOWED_HOSTS=.none.localhost:8080

# AWS
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True

# Sentry
DJANGO_SENTRY_DSN=

#Celery
CELERY_BROKER_URL=redis://redis:6379
